*{margin: 0;padding: 0;list-style: none;box-sizing: border-box;text-decoration: none;}
header {
    display: flex;align-items: center;height: 10vh;
    background-color: silver;color: black;text-transform: capitalize;
    padding: 0px 50px;
}
header .logo {
    text-transform: uppercase;font-weight: bold;letter-spacing: 3px;
    font-size: 2.5em;
    
}
header nav  {
    width: 100%;
}
header nav ul {
    display: flex;justify-content: space-evenly;
}
header nav ul a {
    color: black;font-weight: bold;
}

main {
    padding: 50px 150px;

}
main .icon {
    display: flex;
    align-items: center; 
    text-align: center;gap: 60px;
    flex-wrap: wrap;
}
main img {
    width: 300px;height: 300px;border-radius: 50%;
}
main .text {
    width: 50%;
}
main .text h1 {
    padding-bottom: 20px;text-transform: uppercase;
    font-weight: bold;color: red;
}
main .text p {
    border: 2px solid black;
    padding: 50px;line-height: 30px;
    font-weight: bold;
}



.contact {
    padding: 50px 150px;text-transform: capitalize;
    text-align: center;
}
.contact>h1 {
    width: 200px;margin-left: auto;margin-right: auto;
    color: brown;margin-bottom: 60px;
}
.contact div {
    display: flex;justify-content: space-between;
    margin-bottom: 20px;
}
.contact div p {
    flex-basis: 40%;
    font-size: 1.5em;
    font-weight: bold;text-transform: uppercase;
}
.contact input,textarea {
    flex-basis: 40%;
    margin-right: auto;
}
.contact .submit {
    padding: 15px 50px;
    background-color: blueviolet;
    margin-left: 200px;
}
footer {
    width: 100%;background-color: silver;
    text-align: center;height: 10vh;
    display: flex;align-items: center;
    justify-content: center;
}